
{% extends 'common/base.html' %}
{% load staticfiles %}
{% load prod_filters %}

{% block title %}
    <title>美食之家产品列表</title>
{% endblock title %}

{% block main %}
<main >

    <div>
        <div class="main-head">
            <p>
                <span>菜式欣赏</span>
            </p>
        </div>
    </div>
</main>
<main>
    <img class="mdbanner" src="{% static 'images/mdbanner.jpg' %}">
</main>
<main>
    <div class="main-body">
        <p><span>每一种食物来源都经过我们的精挑细选，关于食材我们只选最天然、健康、优质的，只为一份对极致美味的追求，用心做好每一份菜，是我们不变的宗旨。</span></p>
        <ul class="main-body-img">
            {% for prod in higher_rate_list %}
            <li><img src="{% static prod.image %}"></li>
            {% endfor %}

        </ul>
    </div>
</main>
<main>
    <ul class="main-submenu">
        <li><a href="#">午餐</a></li>
        <li><a href="#">晚餐</a></li>
        <li><a href="#">甜品</a></li>
        <li><a href="#">饮料</a></li>
    </ul>
    <a name="prod_list"></a>
    <ul class="main-submenu-info main-submenu-first">
        {% for prod in page.object_list %}
        <li><a href="#">
            <div class="food-name">
                <p>{{ prod.zh_name }}</p>
                <p>{{ prod.en_name }}/p>
            </div>
            <div class="food-price">
                <p>￥<span>{{ prod.price }}</span></p>
            </div>
            <div class="img-bg"></div>
            <img src="{% static prod.image %}"></a></li>
        {% endfor %}

    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page.has_previous %}
            <li>
                <a href="{% url 'product:product_list' %}?page={{ page.previous_page_number }}#prod_list" aria-label="Next">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            {% endif %}

            {% for num in page.number|get_num_list:paginator.num_pages %}
                {% if num == page.number %}
                    <li><a href="{% url 'product:product_list' %}?page={{ num }}#prod_list" style="background-color:lightcoral">{{ num }}</a></li>
                    {% else %}
                    <li><a href="{% url 'product:product_list' %}?page={{ num }}#prod_list">{{ num }}</a></li>
                {% endif %}

            {% endfor %}

            {% if page.has_next %}
            <li>
                <a href="{% url 'product:product_list' %}?page={{ page.next_page_number }}#prod_list" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</main>
<main>

    <div class="main-head">
        <p><span>在线预定</span></p>
    </div>
    <div class="main-reserve">
        <form action="#" method="post" id="food-reserve">
            <ul>
                <li>
                    <label for="username">姓名</label>
                    <input type="text" name="username" id="username">
                </li>
                <li>
                    <label for="phonenumber">电话号码</label>
                    <input type="text" name="phonenumber" id="phonenumber">
                </li>
                <li>
                    <label for="email">电子邮件</label>
                    <input type="text" name="email" id="email">
                </li>
                <li>
                    <label for="time">时间</label>
                    <input type="text" name="time" id="time">
                </li>
                <li>
                    <label for="numberofpeople">人数</label>
                    <input type="text" name="numberofpeople" id="numberofpeople">
                </li>
                <li>
                    <label for="date">日期</label>
                    <input type="text" name="date" id="date">
                </li>
                <li>
                    <label for="guestbook">留言</label>
                    <input type="text" name="guestbook" id="guestbook">
                </li>
            </ul>
            <a class="reserve">预定</a>

        </form>
    </div>

</main>

{% endblock main %}

